---
import { Button } from "@/components/ui/button";
import logoImage from "@/images/yuzu.png";
import Image from "astro/components/Image.astro";
import "@/styles/globals.css";
---

<html lang="jp">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex" />
		<title>あああ</title>
	</head>
	<body>
		<header class:list={["py-2", "px-4", "md:py-4", "md:px-8"]}>
			<h1 class:list={["text-xl", "flex", "gap-2", "md:text-3xl"]}>
				<Image src={logoImage} alt="" class:list={["w-8"]} />
				あああ
			</h1>
		</header>
		<main>
			<section
				class:list={[
					"h-[calc(100vh-50px)]",
					"bg-gray-300",
					"bg-no-repeat",
					"bg-cover",
					"bg-center",
					"grid",
					"place-content-center",
					"md:h-[calc(100vh-200px)]",
				]}
			>
				<h2>キャッチコピー</h2>
			</section>
			<div
				class:list={[
					"flex",
					"flex-col",
					"gap-y-20",
					"py-20",
					"md:max-w-7xl",
					"md:mx-auto",
					"md:py-40",
					"md:gap-y-40",
				]}
			>
				<section class:list={["px-4", "md:px-6"]}>
					<h2 class:list={["text-3xl", "md:text-5xl"]}>ビジョン</h2>
					<p class:list={["mt-4", "md:text-xl"]}>かかげる理想</p>
				</section>
				<section class:list={["px-4", "md:px-6"]}>
					<h2 class:list={["text-3xl", "md:text-5xl"]}>ミッション</h2>
					<p class:list={["mt-4", "md:text-xl"]}>背負った使命</p>
				</section>
				<section class:list={["px-4", "md:px-6"]}>
					<h2 class:list={["text-3xl", "md:text-5xl"]}>事業内容</h2>
					<p class:list={["mt-4", "md:text-xl"]}>やっていること</p>
				</section>
			</div>
		</main>
		<footer class:list={["py-2", "px-4", "bg-gray-100", "text-center"]}>
			<p>© 2024 aaa</p>
		</footer>
	</body>
</html>
